
.lecturer-blue-header{
    width: 90%;
    margin: 1rem auto 2rem;
    border-radius: 1rem;
    background-color: rgba(45, 0, 247, 1);
    padding: 2rem 1rem;
    justify-content: space-around;
    align-items: center;
}


.lecturer-dashboard-semester-session-container{

    font-family: "Inter";
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 1rem;
  
}

.student-result-table-header-item{
  text-align: left;
  margin: 0;
  padding: 0rem 1.2rem 1rem;
  
}